.menuWords {
    padding: 10%;
}



.blog{
    width: 18rem;
}
.icon-bar{
    position: fixed;
    top: 87%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
z-index:2;

}

.videoH{   
    width: 100%;
    height: auto;
}

.dropdownText{
    font-size: large;
}

.homeLinks{   
    color:black; 
   box-shadow: #111;
   
   
}

.homeCard {
    font-size: x-small;
}

.homeCard2 {
    font-size: x-small;
}



.blH{
    padding-top: 2%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .parallax {
    /* The image used */
    background-image: url("/Images/aboutPic.jpeg");
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }

.bookText{
    color:black;
    font-size: medium;
}

  .paraBlock{
    padding: 5%;
  }
  .paraBlock2{
    padding: 5%;
    z-index: 2%;
    position: absolute;
  }
  .parallax2 {
    /* The image used */
    background-image: url("/Images/brunette\ poses\ with\ dress.jpeg");
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .parallax3 {
    /* The image used */
    background-image: url("/Images/woman\ on\ cliff.jpeg");
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .parallax4 {
    /* The image used */
    background-image: url("/Images/woman\ doing\ yoga.jpeg");
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
   
  }

  .cardSection {
    position: relative;
    width: 100%;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
  }
  
  .cardSection:hover .overlay {
    bottom: 0;
    height: 100%;
  }
.cardSText{
    color: white;

}
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

.contactB{
    margin-bottom: 5%;
}
.reviews{
    margin-top: 7%;
}

.reviewHeader{
    background-color: white;
   
}

.checked {
    color: orange;
  }

.reviewsBorder{
    border: none;
    padding-left:10%;
}

.reviewTitle{
    text-align: center;
    margin-bottom: 5%;
}

.experBlock{
    margin-bottom: 2%;
}

  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: #2980b9;
    color: black;
    transform: rotateY(180deg);
  }

.homeText:hover{
    text-decoration: none;
}
.homeText2{
    color: white;  
}
.aboutHomeT{
    margin-left: 30%;
    margin-right: 30%;
}
.homeText2:hover{
    text-decoration: none;
}
.btnMore{
   transform: translateX(150%);
   margin-top: 5%;
}
.btnMoreSubscribe{
    transform: translateX(110%);
   margin-top: 5%;
   margin-bottom: 2%;
}
.btnMoreSubscribe2{
    transform: translateX(140%);
   margin-top: 5%;
   margin-bottom: 2%;
}

.btnMoreSubscribe3{
    transform: translateX(180%);
   margin-top: 5%;
   margin-bottom: 2%;
}

.form-labelEmail3{
    transform: translateX(110%);
}

.bookTripTop{
    height: 50%;
}

.mySlides {display:none;}

.background{
    background-color: rgba(0, 255, 255, 0.237);
    padding-top: 3%;
    padding-bottom: 3%;
    margin-top: 5%;
}



.form-labelEmail {
    margin-top: 20%;
    margin-bottom: 20%;
    background-color: white;
    padding: 10%;
}

.contactForm{
  width: 45rem;
  margin-bottom: 5%;
  margin-top: 10%;
    
}
.contactForm3{
    width: 35rem;
  
      
  }


.lineBetween{
    margin-top: 5%;
    margin-bottom: 7%;
   
}

.subscribeForm{
    background-color: transparent;
    width: 20rem;
    transform: translateX(8%);
    
    
}

.subscribeForm3{
    background-color: transparent;
    width: 30rem;

    
    
}

.subscribeForm4{
    width: 30rem; 
}

.formTopText{
     transform: translateX(20%);
     margin-bottom: 5%;
     margin-top: 2%;
     
}
.formTopText2{
    transform: translateX(25%);
    margin-bottom: 5%;
    margin-top: 2%;
    
}
.navbar-nav{
    transform: translateX(40%);
}

.sidenav {
    height: 100%;
    width:0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(7, 28, 59, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  body {font-family: Arial, Helvetica, sans-serif;}

  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
.bnav2 {   
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
a:hover{
    text-decoration: none;
  }

 
  /* Extra styles for the cancel button */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the image and position the close button */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  .containerM {
    padding: 16px;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .mD{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  .closeS,.closeS2,.closeS3, .closeS4,.closeS5,.closeS6 {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
.inquireB, .inqText{
    margin-top: 2%;
}

  .closeS, .closeS2,.closeS3, .closeS4, .closeS5,.closeS6:hover,
  .closeS, .closeS2,.closeS3, .closeS4, .closeS5,.closeS6:focus {
  color: red;
    cursor: pointer;
  }
  /* Modal Content */
  .mDC {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }


  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  
  
  .show {display: block;}

  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #f4f3f3;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }


.topic{
    display: block;
    text-align: center;
    transform: translateY(30%);

}
.topSect{
    margin-right: 10%;
    margin-left:4%;
}

.cbText :hover{
    color: rgb(156, 102, 15);
}
.bPlinks2 :hover{
    color: rgb(156, 102, 15);
    text-decoration: none;
}

.cWords{
    font-weight: 500;
}

.bPlinks a{
    text-decoration: none;
}



.cardTF{
    font-weight:700;
}

.cardTF2{
    font-weight:700;
    background-color: rgba(255, 255, 255, 0.222);
    color: white;
}

.cardSection{
    margin: 1%;
}

.leftcolumn{
    float: left;
  width: 75%;
  
}

.formSearch{
    position: relative;
    margin-top: 10%;
    margin-bottom: 10%;
    
}

.recentPost{
    margin-top: 10%;
    margin-bottom: 10%;
    border:none;
}

.postHeader{
    border: none;
    background-color: white;
    font-weight: 300;
}

.spaceB{
    word-spacing: 10px;
}

.Cat{
    word-spacing: 10px;
    
}

.Cat a{
    color: black;
}

.Cat a:hover{
    word-spacing: 10px;
    color: black;
    text-decoration: none;
}

.postBorder{
    border: none;
}

.category{
    border: none;
}

.updateItem{
   
    width: 100%;
}





.bookT{
    text-align: center;
    margin: 3%;
}
.bottom{
    display: block;
}
.rightcolumn{
    float: left;
  width: 25%;
  background-color: #f1f1f1;
  padding-left: 20px;
}


.textPart{
    margin: 3%;
}

.icon-bar a{
    display: block;
   
}
.profileP{
    z-index: 2;
    position: absolute;
    
}

.Facebook, .Twitter, .Insta, .YouTube{
    margin: 50%;
    text-decoration: none;
   
}
.Facebook2, .Twitter2, .Insta2, .YouTube2{
    font-size: 25px;
 
}

.Facebook3, .Twitter3, .Insta3, .YouTube3{
    font-size: 20px;
    padding: 2%;
    margin-bottom: 1%;
    
 
}
.footerSent{
    font-size: small;
}

.cardSpace{
    margin-bottom: 2%;
    box-shadow: 10%;
}

.footer {
    padding: 15px;
    text-align: center;
    background: rgb(248, 245, 245);
    margin-top: 20px;
   
  }

  .footer a{
  
    color:black;
   
  }
  .footer a{
  
    color:black;
   
  } 
.footer a :hover{
  
    color:blue;
   
  }
.footerHome{
    padding: 15px;
    text-align: center;
    background: rgb(248, 245, 245);
   
}

.dropdown-menu{
    width: 10rem;
}

.bottomB{
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 10%;
}

.profileImg{
border-radius: 50%;
padding: 7%;

}
.profileB{
    align-self: center;
}
.profileH, .profilePara{
    text-align: center;
}
.profilePara{
    font-size: large;
}

.aboutCard{
    height: 30rem;
    justify-content: center;
    margin-top: 10%;
    border-width: 3px;

}

html{
    scroll-behavior: smooth;
}

.cardExp{
    border:none;
}

.rightColumn{
    margin-top: 5%;
}

.aboutText{
    margin-top: 20%;
}

.aboutPic{
    height: 30rem;
    
}

.row:after {
    content: "";
    display: table;
    clear: both;
  }
  

.featured{
float: right;
position: relative;
z-index: 2;
transform: translateY(-110%);
 
}
.featuredC{
    margin: 3%;
}

.form-labelEmail2{
    position:relative;
    float: right;
}



/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
  }
  
  /* Style the horizontal ruler */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
   
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #f44336;
    cursor: pointer;
  }
  
  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Change styles for cancel button and signup button on extra small screens */
  @media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
  }

  .modal2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #474e5d77;
    padding-top: 50px;
  }

  /* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 100%;
}

.ddMenu{
   padding-right: 10%;
}
.dropdown a{
    color: black;
}
.signupbtn{
    padding-top: 2%;
    padding-bottom: 2%;
}
/* Add padding to container elements */
.containerZ {
  padding: 16px;
}
/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
  }
  