.menuWords {
    padding: 10%;
}

.blog{
    width: 18rem;
}
.icon-bar{
    position: fixed;
    top: 85%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
z-index:3;

}

.btnMore{
   transform: translateX(150%);
   margin-top: 5%;
}

.navbar-nav{
    transform: translateX(22%);
}

.topic{
    display: block;
    text-align: center;
    transform: translateY(30%);

}
.topSect{
    margin-right: 5%;
    margin-left:1%;
}


.cardSection{
    margin: 1%;
}

.leftcolumn{
    float: left;
  width: 75%;
  
}

.formSearch{
    position: relative;
    margin-top: 10%;
    margin-bottom: 10%;
    
}

.recentPost{
    margin-top: 10%;
    margin-bottom: 10%;
}

.recentImg{
    
}

.updateItem{
   
    width: 100%;
}

.scroll2{
    background-color: lightblue;

height: 100px;
width: 500px;
overflow-x: scroll;
}
.scroll{
    width: 1000px;
margin: 10px;
}


.updates{
    margin-top: 10%;
    margin-bottom: 10%;
    font-size:17px;
    font-weight:500;
    
    
    
}
.updatesList{
    border-width: thick;
    border-color: black;

}
.bookT{
    text-align: center;
    margin: 3%;
}
.bottom{
    display: block;
}
.rightcolumn{
    float: left;
  width: 25%;
  background-color: #f1f1f1;
  padding-left: 20px;
}


.textPart{
    margin: 3%;
}

.icon-bar a{
    display: block;
   
}
.profileP{
    z-index: 2;
    position: absolute;
    
}

.Facebook, .Twitter, .Insta, .YouTube{
    margin: 50%;
    text-decoration: none;
   
}
.Facebook2, .Twitter2, .Insta2, .YouTube2{
    font-size: 30px;
 
}

.Facebook3, .Twitter3, .Insta3, .YouTube3{
    font-size: 20px;
    padding: 2%;
    margin-bottom: 1%;
    
 
}
.footerSent{
    font-size: small;
}

.cardSpace{
    margin-bottom: 2%;
}

.footer {
    padding: 15px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }

.bottomB{
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 10%;
}

.profileImg{
border-radius: 50%;
padding: 7%;

}
.profileB{
    align-self: center;
}
.profileH, .profilePara{
    text-align: center;
}
.profilePara{
    font-size: large;
}



.row:after {
    content: "";
    display: table;
    clear: both;
  }
  

.featured{
float: right;
position: relative;
z-index: 2;
transform: translateY(-110%);
 
}
.featuredC{
    margin: 3%;
}