.menuWords {
    padding: 10%;
}



.blog{
    width: 18rem;
}
.icon-bar{
    position: fixed;
    top: 87%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
z-index:2;

}

.videoH{
   
    width: 100%;
    height: auto;
   
     

}

.dropdownText{
    font-size: large;
}

.homeLinks{
    position: absolute;
    z-index: 5%;
    transform: translateY(-200%);
    color: whitesmoke;
    
    
 
}

.homeText{
    color: white;
    
    
}
.homeText:hover{
    text-decoration: none;
}
.homeText2{
    color: white;
   
    
}
.aboutHomeT{
    margin-left: 30%;
    margin-right: 30%;
}
.homeText2:hover{
    text-decoration: none;
}
.btnMore{
   transform: translateX(150%);
   margin-top: 5%;
}
.btnMoreSubscribe{
    transform: translateX(150%);
   margin-top: 5%;
   margin-bottom: 2%;
}
.btnMoreSubscribe2{
    transform: translateX(140%);
   margin-top: 5%;
   margin-bottom: 2%;
}

.btnMoreSubscribe3{
    transform: translateX(180%);
   margin-top: 5%;
   margin-bottom: 2%;
}

.form-labelEmail3{
    transform: translateX(120%);
    
}



.background{
    background-color: rgba(0, 255, 255, 0.237);
    padding-top: 3%;
    padding-bottom: 3%;
    margin-top: 5%;
}

.form-labelEmail {
    margin-top: 20%;
    margin-bottom: 20%;
    background-color: white;
    padding: 10%;
}

.contactForm{
  width: 45rem;
  margin-bottom: 5%;
  margin-top: 10%;
    
}



.lineBetween{
    margin-top: 5%;
    margin-bottom: 7%;
   
}

.subscribeForm{
    background-color: transparent;
    width: 20rem;
    transform: translateX(8%);
    
    
}

.subscribeForm3{
    background-color: transparent;
    width: 30rem;

    
    
}

.subscribeForm4{
   
    width: 30rem;

    
    
}

.formTopText{
     transform: translateX(30%);
     margin-bottom: 5%;
     margin-top: 2%;
     
}
.navbar-nav{
    transform: translateX(40%);
}

.topic{
    display: block;
    text-align: center;
    transform: translateY(30%);

}
.topSect{
    margin-right: 12%;
    margin-left:5%;
}


.cardSection{
    margin: 1%;
}

.leftcolumn{
    float: left;
  width: 75%;
  
}

.formSearch{
    position: relative;
    margin-top: 10%;
    margin-bottom: 10%;
    
}

.recentPost{
    margin-top: 10%;
    margin-bottom: 10%;
    border:none;
}

.postHeader{
    border: none;
    background-color: white;
    font-weight: 300;
}

.spaceB{
    word-spacing: 10px;
}

.Cat{
    word-spacing: 10px;
    
}

.Cat a{
    color: black;
}

.Cat a:hover{
    word-spacing: 10px;
    color: black;
    text-decoration: none;
}

.postBorder{
    border: none;
}

.category{
    border: none;
}

.updateItem{
   
    width: 100%;
}





.bookT{
    text-align: center;
    margin: 3%;
}
.bottom{
    display: block;
}
.rightcolumn{
    float: left;
  width: 25%;
  background-color: #f1f1f1;
  padding-left: 20px;
}


.textPart{
    margin: 3%;
}

.icon-bar a{
    display: block;
   
}
.profileP{
    z-index: 2;
    position: absolute;
    
}

.Facebook, .Twitter, .Insta, .YouTube{
    margin: 50%;
    text-decoration: none;
   
}
.Facebook2, .Twitter2, .Insta2, .YouTube2{
    font-size: 25px;
 
}

.Facebook3, .Twitter3, .Insta3, .YouTube3{
    font-size: 20px;
    padding: 2%;
    margin-bottom: 1%;
    
 
}
.footerSent{
    font-size: small;
}

.cardSpace{
    margin-bottom: 2%;
}

.footer {
    padding: 15px;
    text-align: center;
    background: rgb(248, 245, 245);
    margin-top: 20px;
   
  }
.footerHome{
    padding: 15px;
    text-align: center;
    background: rgb(248, 245, 245);
   
}

.dropdown-menu{
    width: 15rem;
}

.bottomB{
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 10%;
}

.profileImg{
border-radius: 50%;
padding: 7%;

}
.profileB{
    align-self: center;
}
.profileH, .profilePara{
    text-align: center;
}
.profilePara{
    font-size: large;
}

.aboutCard{
    height: 30rem;
    justify-content: center;
    margin-top: 10%;
    border-width: 3px;

}

html{
    scroll-behavior: smooth;
}

.cardExp{
    border:none;
}

.rightColumn{
    margin-top: 5%;
}

.aboutText{
    margin-top: 20%;
}

.aboutPic{
    height: 30rem;
    
}

.row:after {
    content: "";
    display: table;
    clear: both;
  }
  

.featured{
float: right;
position: relative;
z-index: 2;
transform: translateY(-110%);
 
}
.featuredC{
    margin: 3%;
}

.form-labelEmail2{
    position:relative;
    float: right;
}